{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mobile.css' %}">
{% endblock 'head' %}

{% block 'content' %}
    <main>
        <section class="banner">
            <p>A felicidade do seu Pet é a nossa missão!</p>
            <div class="fundo">
                <div class="overley"></div>
            </div>
        </section>

        <section class="galeria">
            <div class="container">
                <h2>Galeria</h2>

                <div class="carousel">
                    <div class="carousel-container">
                        <div class="slide-group">
                        <img class="slide" src="{% static 'core/img/caoegato.png' %}" alt="Imagem 1">
                        <img class="slide" src="{% static 'core/img/pet.jpg' %}" alt="Imagem 2">
                        <img class="slide" src="{% static 'core/img/pets.jpg' %}" alt="Imagem 3">
                        </div>
                        <div class="slide-group">
                        <img class="slide" src="{% static 'core/img/cachorro.png' %}" alt="Imagem 4">
                        <img class="slide" src="{% static 'core/img/passeio.jpg' %}">
                        <img class="slide" src="{% static 'core/img/cachorrinho-ideal.jpg' %}" alt="Imagem 6">
                        </div>
                    </div>
                    <button class="prev btnED"><img src="{% static 'core/img/setaEsquerda.svg' %}"></button>
                    <button class="next btnED"><img src="{% static 'core/img/setaDireita.svg' %}"></button>
                    </div>      
            </div>
        </section>
        <section class="sobre" id="sobre">
            <div class="container">
                <h2>Sobre</h2>
                <div class="wraper-sobre">
                    <div class="card-sobre">
                        <i class="fa-solid fa-heart"></i>
                        <h4>Missão</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium nam deserunt odio enim. Mollitia voluptate neque iste molestiae beatae qui eveniet sed voluptatum! Odio expedita dolor molestias voluptatem magni</p>
                    </div>
                    <div class="card-sobre">
                        <i class="fa-solid fa-dog"></i>
                        <h4>Visão</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium nam deserunt odio enim. Mollitia voluptate neque iste molestiae beatae qui eveniet sed voluptatum! Odio expedita dolor molestias voluptatem magni</p>
                    </div>
                    <div class="card-sobre">
                        <i class="fa-solid fa-paw"></i>
                        <h4>Valores</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium nam deserunt odio enim. Mollitia voluptate neque iste molestiae beatae qui eveniet sed voluptatum! Odio expedita dolor molestias voluptatem magni</p>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="localizacao">
            <h2 style="margin-bottom: 0;">Localização</h2>
            <div class="container">
                <div class="contato-mapa">
                    <div class="conteudo">
                        <address>R. Raínha Elisabete - Jardim Buriti Sereno</address>
                        <p>Telefone: 62 3546-6832</a></p>
                        <div class="horario-funcionamento">
                            <p>Segunda a Sexta: 08:00 - 18:00</p>
                            <p>Sábado: 08:00 - 12:00</p>
                        </div>
                    </div>
                </div>
                <div class="mapa">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=R.%20Ra%C3%ADnha%20Elisabete,%20S/N%20-%20Jardim%20Buriti%20Sereno,%20Aparecida%20de%20Goi%C3%A2nia%20-%20GO,%20Aparecida%20de%20Goi%C3%A2nia%20+(Pet%20Limpo)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
            </div>
        </section>
    </main>
      
{% endblock %}
{% block 'scripts' %}
    <script src="{% static 'core/js/carrossel.js' %}"></script>
    
{% endblock 'scripts' %}