{% load i18n %}

<p>{% blocktrans %}
Você está recebendo este email porque solicitou uma redefinição de senha para sua conta em nosso site.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Por favor, clique no link abaixo para escolher uma nova senha:
{% endblocktrans %}</p>

<a href="{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}">{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}</a>

<p>{% blocktrans %}
Se você não solicitou uma redefinição de senha, ignore este email.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Obrigado por usar nosso site!
{% endblocktrans %}</p>
